<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAd_OsrVgcgbeejUa7c4rfJ6db0KpaWG1g</string>
	<key>GCM_SENDER_ID</key>
	<string>487247110048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gpApp</string>
	<key>PROJECT_ID</key>
	<string>gameglimpse-5e114</string>
	<key>STORAGE_BUCKET</key>
	<string>gameglimpse-5e114.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487247110048:ios:b5a4ad103f503e322c4ec5</string>
</dict>
</plist>